/* Your code here */
* {
  box-sizing: border-box;
}

.center {
  flex-direction: column;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.div-style {
  display: flex;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
  gap: 7px;
  padding: 10px;
}

.inner-div {
  font-size: 14px;
  text-align: center;
  align-content: center;
  display: flex;
  flex: 1 1 52px;
  border: 1px solid black;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.show {
  font-weight: 700;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}